﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Lab03_Leminhkhanh</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Lab03_Leminhkhanh.styles.css" asp-append-version="true" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
	<header class="bg-danger text-white text-center py-4">
		<h1>Trang Web Bán Hàng</h1>
	</header>

	<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
		<div class="container">
			<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse" id="navbarNav" style="display:flex; justify-content: space-between">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link text-black" asp-area="" asp-controller="Product" asp-action="Index">Danh sách sản phẩm</a>
					</li>

					<li class="nav-item">
						<a class="nav-link text-black" asp-area="" asp-controller="Product" asp-action="Add">Thêm sản phẩm</a>
					</li>

					<li class="nav-item">
						<a class="nav-link text-black" asp-area="" asp-controller="Category" asp-action="Index">Danh mục sản phẩm</a>
					</li>

					<li class="nav-item">
						<a class="nav-link text-black" asp-area="" asp-controller="Category" asp-action="Add">Thêm danh mục</a>
					</li>
				</ul>
				
				
				<partial name="_LoginPartial" />
			</div>
		</div>
	</nav>

	<div class="container mt-4">
		<main role="main" class="pb-3">
			
				@RenderBody()

				<!--side bar-->
						
		</main>
	</div>

	<footer>
		
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
